@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1{
        @apply text-3xl text-primary p-5;
    }
    html {
        font-family: 'Raleway', sans-serif;
    }
    .nav-list{
        @apply p-4 mobile:p-1 tablet:p-4 mobile:text-sm tablet:text-base;
    }

    .list {
        @apply p-1 rounded-full border border-secondary mobile:p-2 tablet:p-5 mobile:text-sm tablet:text-base;
    }

    .home-background{
        background-image: url('./images/image_4.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        opacity: 0.8;
    }
    .contact-background{
        background-image: url('./images/image_6.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    .txt{
        color: rgb(0, 0, 0);
    }
    .disNone{
        display: none;
    }
    .disActive{
        display: inline;
    }
    .disBtn{
        display: inherit;
    }
}